<html ng-app="huntApp" ng-controller="adminHuntCtrl">
  <head>
    <title>Admin Console</title>
  </head>
  <body>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>

    <h1>{{hunt.Name}}</h1>

    <p>
      <h3>State</h3>
      Current state: <b>{{stateTable[hunt.State]}}</b><br>
      <span ng-show="advanceable">
	Next state: <b>{{stateTable[hunt.State + 1]}}</b><br>
	<button ng-click="advanceState()">Advance state</button>
      </span>
    </p>

    <p>
      <span ng-include="'/includes/leaderboard.html'"></span>
    </p>

    <p>
      <span ng-include="'/includes/puzzles.html'"></span>
    </p>

    <p>
      <span ng-include="'/includes/teams.html'"></span>
    </p>

    <p>
      <span ng-include="'/includes/ingredients.html'"></span>
    </p>

    <script>huntId={(.)}</script>
    <script>isAdmin=true</script>
    <script src="/admin/js/admin_hunt.js"></script>
  </body>
</html>
