<html ng-app="huntApp" ng-controller="huntCtrl">
  <head>
    <title>{{info.Name}}</title>
  </head>
  <body>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-cookies.min.js"></script>

    <h1>{{info.Name}}</h1>

    <span ng-show="signedIn">
      <p>
	Welcome {{info.Teams.CurrentTeam}}! 
	<button ng-click="logout()">Logout</button>
      </p>
    </span>

    <span ng-show="!signedIn">
      <p>
	<form novalidate>
	  <select ng-model="teamID">
	    <option value="" selected>--Select team--</option>
	    <option ng-repeat="t in info.Teams.Teams" ng-value="t.ID">{{t.Name}}</option>
	  </select>
	  <input type="text" ng-model="password">
	  <button ng-click="login()">Login</button>
	</form>
      </p>
    </span>

    <span ng-show="info.Ingredients.Display">
      <p>
	Ingredients: {{info.Ingredients.Ingredients}}
      </p>
    </span>

    <span ng-show="info.Puzzles.Display"> 
      <p>
	Puzzles:<br>
	<ul>
	  <li ng-repeat="p in info.Puzzles.Puzzles">
	    {{p.Number}}) {{p.Paper}} {{p.Name}} {{p.Answer}}
	  </li>
	</ul>
      </p>
    </span>

    <script>huntId={(.)}</script>
    <script src="/js/hunt.js"></script>
  </body>
</html>
