<html ng-app="huntApp" ng-controller="huntCtrl">
  <head>
    <title>{{info.Name}}</title>
  </head>
  <body>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-cookies.min.js"></script>

    <h1>{{info.Name}}</h1>

    <p ng-show="signedIn">
      Welcome {{info.Teams.CurrentTeam}}!<br>
      <button ng-click="logout()">Logout</button>
    </p>

    <p ng-show="!signedIn">
      <select ng-model="teamID">
	<option value="" selected>--Select team--</option>
	<option ng-repeat="t in info.Teams.Teams" ng-value="t.ID">{{t.Name}}</option>
      </select>
      <input type="text" ng-model="password">
      <button ng-click="login()">Login</button>
    </p>

    <p ng-show="info.Ingredients.Display">
      Ingredients: {{info.Ingredients.Ingredients}}
    </p>

    <p ng-show="info.Puzzles.Display">
      Display some puzzles here!
    </p>

    <script>huntId={(.)}</script>
    <script src="/js/hunt.js"></script>
  </body>
</html>
