<md-card ng-controller="ingredientsCtrl" ng-show="ingredients.Display">
  <md-toolbar class="md-accent" layout-padding>
    <h3>Ingredients</h3>
  </md-toolbar>
  <md-content flex layout-padding>
    {{ingredients.Ingredients}}<br>
    <form ng-show="ingredients.Editable" novalidate>
      <md-input-container md-no-float>
	<input ng-model="newIngredients" placeholder="New ingredients">
      </md-input-container>
      <md-button class="md-primary md-raised" ng-click="updateIngredients()">Update</md-button>
    </form>
  </md-content>
</md-card>
