<md-card ng-controller="puzzlesCtrl" ng-show="hasPuzzles">
  <md-toolbar class="md-accent" layout-padding>
    <h3>Puzzles</h3>
  </md-toolbar>
  <md-content flex layout-padding>
    <md-list>
      <md-list-item layou="row" layout-padding>
	<div flex="25">Puzzle</div>
	<div flex="20">Answer</div>
	<div flex="5">Paper</div>
	<div flex="20">Team</div>
	<div flex></div>
	<md-divider></md-divider>
      </md-list-item>
      <md-list-item layout="row" ng-repeat="p in puzzles" layout-padding>
	<div flex="5">{{p.Number}}</div>
	<div flex="20">{{p.Name}}</div>
	<div flex="20">{{p.Answer}}</div>
	<div flex="5">{{p.Paper}}</div>
	<div flex="20">{{p.TeamName}}</div>
	<div flex></div>
	<md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
</md-card>
