<md-card ng-controller="puzzlesCtrl" ng-show="hasPuzzles">
  <md-toolbar class="md-accent" layout-padding>
    <h3>Puzzles</h3>
  </md-toolbar>
  <md-content flex layout-padding>
    <md-list>
      <md-list-item layou="row" layout-padding>
	<div flex="25">Puzzle</div>
	<div flex="20">Answer</div>
	<div flex="10">Paper</div>
	<div flex="20">Team</div>
	<div flex></div>
	<md-divider></md-divider>
      </md-list-item>
      <md-list-item ng-repeat="p in puzzles.Puzzles">
	<form layout="row" layout-padding flex>
	  <div flex="5">{{p.Number}}</div>
	  <div flex="20">
	    <span ng-show="!puzzles.Editable">
	      {{p.Name}}
	    </span>
	    <span ng-show="puzzles.Editable">
	      <md-input-container md-no-float>
		<input ng-model="p.newName" placeholder="{{p.Name}}">
	      </md-input-container>
	    </span>
	  </div>
	  <div flex="20">
	    <span ng-show="!puzzles.Editable">
	      {{p.Answer}}
	    </span>
	    <span ng-show="puzzles.Editable">
	      <md-input-container md-no-float>
	      <input ng-model="p.newAnswer" placeholder="{{p.Answer}}">
	      </md-input-container>
	    </span>
	  </div>
	  <div flex="10">{{p.Paper}}</div>
	  <div flex="20">{{p.TeamName}}</div>
	  <md-button class="md-primary md-raised" ng-click="updatePuzzle(p.ID, p.newName, p.newAnswer)">Update</md-button>
	  <div flex></div>
	  <md-divider ng-if="!$last"></md-divider>
	</form>
      </md-list-item>
    </md-list>
  </md-content>
</md-card>
