<md-card ng--controller="signinCtrl">
  <md-toolbar class="md-accent" layout-padding>
    <h3>Sign in</h3>
  </md-toolbar>
  <md-content flex layout-padding>
    <span ng-show="teamInfo.CurrentTeam != ''">
      Welcome {{teamInfo.CurrentTeam}}
      <md-button ng-click="logout()" class="md-primary md-raised">Logout</md-button>
    </span>
    <span ng-show="teamInfo.CurrentTeam == ''" layout="row">
      <form novalidate>
	<md-input-container>
	  <label>Team</label>
	  <md-select ng-model="teamID">
	    <md-option ng-repeat="t in teamInfo.Teams" ng-value="t.ID">{{t.Name}}</md-option>
	  </md-select>
	</md-input-container>
	<md-input-container md-no-float>
	  <input ng-model="password">
	</md-input-container>
	<md-button ng-click="login()" class="md-primary md-raised">Login</md-button>
      </form>
    </span>
  </md-content>
</md-card>
