<md-card ng-controller="teamsCtrl">
  <md-toolbar class="md-accent" layout-padding>
    <h3>Teams</h3>
  </md-toolbar>
  <md-card-content layout-padding>
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="t in teams.Teams">
	<div class="md-list-item-text">
	  <h3>{{t.Name}}</h3>
	  <h4>{{t.Password}}</h4>
	  <h4>Beginner: {{t.Novice}}</h4>
	</div>
	<md-button class="md-warn" ng-show="teams.Editable" ng-click="deleteTeam(t.ID)">Delete</md-button>
	<md-divider></md-divider>
      </md-list-item>
      <md-list-item ng-show="teams.Editable">
	<form novalidate layout="row">
	  <md-input-container md-no-float>
	    <input ng-model="newTeamName" placeholder="Name">
	  </md-input-container>
	  <md-input-container md-no-float>
	    <input ng-model="newTeamPassword" placeholder="Password">
	  </md-input-container>
	  <div flex>
	    <md-checkbox ng-model="newTeamNovice" class="md-align-center">
	      Novice
	    </md-checkbox>
	  </div>
	  <md-button class="md-primary md-raised" ng-click="addTeam()">Add</md-button>
	</form>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
